name: Otohits_Ultimate_Success
on:
  workflow_dispatch:
  schedule:
    - cron: '0 */6 * * *'

jobs:
  otohits_job:
    runs-on: ubuntu-latest
    steps:
      - name: Run Otohits in Docker
        run: |
          # تشغيل البرنامج داخل حاوية لينكس خفيفة
          docker run -d --name otohits_container jm90mm/otohits:latest --appkey df74fcd1-4c34-4122-b45d-27884154c62d --start
          
          # جعل السيرفر يظن أن هناك نشاط مستمر لكي لا يغلق
          echo "Otohits is running... collecting points for your key."
          sleep 21000
