name: Otohits_Fixed
on:
  workflow_dispatch:
  schedule:
    - cron: '0 */6 * * *'

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Run
        run: |
          $appKey = "df74fcd1-4c34-4122-b45d-27884154c62d"
          Invoke-WebRequest -Uri "https://www.otohits.net/dl/otohits-app-win-x64.zip" -OutFile "otohits.zip"
          Expand-Archive -Path "otohits.zip" -DestinationPath "."
          Start-Process ./OtohitsApp.exe -ArgumentList "--appkey $appKey --start"
          Start-Sleep -Seconds 21000
